h3, h4 {
	font-family: "Lucida Console", Courier, monospace;
	padding-left: 20px;
	border-bottom: 1px solid black;
}

.myimg {
	margin: 50px 0;
}

.mynote {
	color: navy;
	margin: 10px;
	font-family: "Lucida Console", Courier, monospace;
}

.mypost {
	padding: 5px;
	background-color: #f4f6f6;
	box-shadow: 5px 10px 10px grey;
	border: 1px solid #dee2e6;
	border-color: #007bff;
	border-radius: 15px;
	margin-top: 10px;
	padding: .5rem;
}

.mykbd {
	display: block;
}